body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    display: flex;
    justify-content: center;

    .container {
        width: 80rem;
        background-color: #ffffff;
        color: #333333;
        display: grid;
        grid-template-columns: 1fr;      

        header {
            display: flex;
            justify-content: space-between;
            margin-left: 4rem;
            margin-bottom: 2rem;
            margin-top: 2rem;
            text-align: end;
            font-size: 2rem;            
            width: 90%;
            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: grey;
                color: #ffffff;
                width: 20rem;
                height: 12rem;
                border-radius: 1rem;
            }

            .invoice {
                font-size: 1.8rem;
                font-weight: 400;
            }
        }

        section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;           
            line-height: 2rem;
            width: 90%;
            margin-left: 4rem;

            .right {
                text-align: end;
                font-size: 1.5rem;

                .balDue {
                    box-sizing: border-box;
                    background-color: azure;

                    span {
                        margin-left: 5rem;
                    }
                }
            }

            .left {
                font-size: 1.5rem;
            }

        }
        
       table {
        width: 90%;
        margin-left: 4rem;

        thead {
            width: 100%;

            .tableHead {
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr;
                text-align: center;
                width: 100%;
                line-height: 3rem;
                font-size: 1.5rem;
                justify-content: space-evenly;
                background-color: grey;
                color: #ffffff;
                border-radius: 0.5rem;               
            }
        }

        tbody {
            width: 100%;

            .tableBody {
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr;
                text-align: center;
                width: 100%;
                line-height: 3rem;
                font-size: 1.5rem;
                justify-content: space-evenly;               
            }
        }
       }
       .subTotal {
        display: flex;
        flex-direction: column;        
        align-items: end;  
        width: 90%;   
        margin-left: 4rem; 
        font-size: 1.5rem;

        span {
            margin-left: 8rem;
        }
       }

       .notes {
        margin-left: 4rem;
        margin-bottom: 8rem;
        font-size: 1.5rem;
       }
    }
}

